spring:
 application:
  name: expenses-server
 config:
  import: optional:configserver:http://localhost:8888
 cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 5000
            readTimeout: 5000
            

##.....................local values..............
 datasource:
  url: jdbc:mysql://localhost:3306/expenses?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
  username: root
  password: root

 jpa:
  hibernate: 
   ddl-auto: update
  show-sql: true
  properties: 
   hibernate: 
    format_sql: true
    

  
server:
 port: 8082  

 
 


